## A driver can only take one order at a time

In [1]:
import pickle

import numpy as np
import pandas as pd

from functools import partial
from geopy.distance import geodesic

from ortools.constraint_solver import routing_enums_pb2
from ortools.constraint_solver import pywrapcp

In [2]:
path = "input_data"

READ INPUT DATA FILES

In [3]:
order_df = pd.read_csv(f"{path}/order_data.csv")
order_df.head()

,order_id,restaurant_lat,restaurant_long,customer_lat,customer_long,no_of_items,prep_duration_sec,preferred_otd_sec
0,0,52.534717,13.392920,52.536950,13.363647,9,960,2400
1,1,52.507490,13.460169,52.521861,13.464337,10,780,2400
2,2,52.539029,13.384884,52.507035,13.459327,12,360,2400
3,3,52.508368,13.408875,52.519709,13.374291,16,1020,2400
4,4,52.537509,13.429478,52.544824,13.432814,15,360,2400

In [4]:
driver_df = pd.read_csv(f"{path}/driver_data.csv")
driver_df.head()

,driver_id,shift_start_sec,shift_end_sec,start_location_lat,start_location_long,vehicle
0,0,0,7200,52.502670,13.447406,BIKE
1,1,0,7200,52.518258,13.447747,BIKE
2,2,0,7200,52.517876,13.460788,BIKE
3,3,0,7200,52.528275,13.431436,BIKE
4,4,0,7200,52.510854,13.454662,BIKE

In [5]:
# Check initial sanity of data
order_df.describe()

,order_id,restaurant_lat,restaurant_long,customer_lat,customer_long,no_of_items,prep_duration_sec,preferred_otd_sec
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0
mean,49.500000,52.520640,13.408850,52.518894,13.406724,9.840000,723.600000,2400.0
std,29.011492,0.017904,0.028543,0.019089,0.028775,5.052692,267.489337,0.0
min,0.000000,52.485165,13.353377,52.486500,13.354016,1.000000,300.000000,2400.0
25%,24.750000,52.507638,13.388908,52.502885,13.384448,6.000000,480.000000,2400.0
50%,49.500000,52.519565,13.407955,52.518842,13.401845,9.000000,720.000000,2400.0
75%,74.250000,52.534732,13.429163,52.534923,13.430591,14.250000,960.000000,2400.0
max,99.000000,52.554721,13.464321,52.555948,13.464337,19.000000,1200.000000,2400.0

In [6]:
driver_df.describe()

,driver_id,shift_start_sec,shift_end_sec,start_location_lat,start_location_long
count,40.000000,40.0,40.0,40.000000,40.000000
mean,19.500000,0.0,7200.0,52.520005,13.406796
std,11.690452,0.0,0.0,0.015724,0.030908
min,0.000000,0.0,7200.0,52.488881,13.351823
25%,9.750000,0.0,7200.0,52.509868,13.381836
50%,19.500000,0.0,7200.0,52.519269,13.410317
75%,29.250000,0.0,7200.0,52.530530,13.422828
max,39.000000,0.0,7200.0,52.555571,13.460788

In [7]:
# We have used geodesics to calculate distances between two coordinates
def calculate_distance(coord1, coord2):
    return int(geodesic(coord1, coord2).meters)

In [8]:
pickup_coordinates = order_df[["restaurant_lat", "restaurant_long"]].values.tolist()
drop_coordinates = order_df[["customer_lat", "customer_long"]].values.tolist()

In [9]:
veh_start_coordinates = driver_df[
    ["start_location_lat", "start_location_long"]
].values.tolist()

In [10]:
cust_coordinates = pickup_coordinates + drop_coordinates

In [11]:
len(pickup_coordinates)

100

In [12]:
len(cust_coordinates)

200

In [13]:
all_coordinates = cust_coordinates + veh_start_coordinates
all_coordinates_count = len(all_coordinates)
all_coordinates_count

240

In [14]:
# 1 dummy node at beginning to allow arbitrary end locations of routes
distance_matrix = [
    [0] * (all_coordinates_count + 1) for _ in range(all_coordinates_count + 1)
]

In [15]:
# for i in range(all_coordinates_count):
#     for j in range(all_coordinates_count):
#         distance_matrix[i+1][j+1] = calculate_distance(all_coordinates[i], all_coordinates[j])

# with open("dm", "wb") as fp:   #Pickling
#   pickle.dump(distance_matrix, fp)

In [16]:
with open("dm", "rb") as fp:  # Unpickling
    distance_matrix = pickle.load(fp)

In [17]:
data = {}
data["distance_matrix"] = distance_matrix
data["num_vehicles"] = driver_df.shape[0]

In [18]:
data["veh_start_indices"] = [
    len(cust_coordinates) + i + 1 for i in range(driver_df.shape[0])
]

In [19]:
data["veh_end_indices"] = [0 for _ in range(driver_df.shape[0])]

In [20]:
data["num_vehicles"]

40

In [21]:
len(data["distance_matrix"])

241

In [22]:
driver_df["cost_per_meter"] = driver_df.vehicle.apply(lambda x: 1 if x == "BIKE" else 3)
driver_df["speed_meter_per_sec"] = driver_df.vehicle.apply(
    lambda x: 15 * 1000 / 3600 if x == "BIKE" else 30 * 1000 / 3600
)
driver_df["capacity"] = driver_df.vehicle.apply(lambda x: 10 if x == "BIKE" else 30)

In [23]:
dummy_pickups_drop_demands = (
    [0]
    + order_df["no_of_items"].values.tolist()
    + list(-1 * order_df["no_of_items"].values)
)

In [24]:
veh_start_node_demands = [
    0 for _ in range((all_coordinates_count + 1) - len(dummy_pickups_drop_demands))
]

In [25]:
data["demands"] = dummy_pickups_drop_demands + veh_start_node_demands

In [26]:
data["vehicle_capacities"] = driver_df["capacity"].values.tolist()

In [27]:
data["pickups_deliveries"] = [[i, i + 100] for i in range(1, order_df.shape[0] + 1)]

In [28]:
# Create the Routing Index Manager
manager = pywrapcp.RoutingIndexManager(
    len(data["distance_matrix"]),
    data["num_vehicles"],
    data["veh_start_indices"],
    data["veh_end_indices"],
)

In [29]:
# Create Routing Model.
routing = pywrapcp.RoutingModel(manager)

Arc Costs being defined : START

In [30]:
def distance_callback(from_index, to_index):
    from_node = manager.IndexToNode(from_index)
    to_node = manager.IndexToNode(to_index)

    # Calculate distance between nodes
    distance = data["distance_matrix"][from_node][to_node]

    return distance


def cost_callback(from_index, to_index, cost_per_meter):
    distance = distance_callback(from_index, to_index)
    cost = distance * cost_per_meter

    return cost

In [31]:
bike_transit_cost_callback = partial(cost_callback, cost_per_meter=1)
car_transit_cost_callback = partial(cost_callback, cost_per_meter=3)

In [32]:
distance_callback_index = routing.RegisterTransitCallback(distance_callback)

bike_transit_cost_callback_index = routing.RegisterTransitCallback(
    bike_transit_cost_callback
)
car_transit_cost_callback_index = routing.RegisterTransitCallback(
    car_transit_cost_callback
)

In [33]:
# Define cost of each arc.
for _, row in driver_df.iterrows():
    v_id = row["driver_id"]
    v_type = row["vehicle"]
    cost = row["cost_per_meter"]
    if v_type == "BIKE":
        routing.SetArcCostEvaluatorOfVehicle(bike_transit_cost_callback_index, v_id)
    elif v_type == "CAR":
        routing.SetArcCostEvaluatorOfVehicle(car_transit_cost_callback_index, v_id)

In [34]:
# Add Distance dimension to track distances
dimension_name = "Distance"
routing.AddDimension(
    distance_callback_index,
    0,  # no slack
    int(sum(data["distance_matrix"][1]))
    * 1000,  # vehicle maximum travel distance to be large
    True,  # start cumul to zero
    dimension_name,
)
distance_dimension = routing.GetDimensionOrDie(dimension_name)

Arc Costs being defined : END

In [35]:
# [START pickup_delivery_constraint]
for request in data["pickups_deliveries"]:
    pickup_index = manager.NodeToIndex(request[0])
    delivery_index = manager.NodeToIndex(request[1])
    routing.AddPickupAndDelivery(pickup_index, delivery_index)
    routing.solver().Add(
        routing.VehicleVar(pickup_index) == routing.VehicleVar(delivery_index)
    )
    routing.solver().Add(
        distance_dimension.CumulVar(pickup_index)
        <= distance_dimension.CumulVar(delivery_index)
    )
# [END pickup_delivery_constraint]

### ADDING CAPACITY CONSTRAINTS

In [36]:
# Add Capacity constraint.
def demand_callback(from_index):
    """Returns the demand of the node."""
    # Convert from routing variable Index to demands NodeIndex.
    from_node = manager.IndexToNode(from_index)
    return data["demands"][from_node]

In [37]:
demand_callback_index = routing.RegisterUnaryTransitCallback(demand_callback)

routing.AddDimensionWithVehicleCapacity(
    demand_callback_index,
    0,  # null capacity slack
    data["vehicle_capacities"],  # vehicle maximum capacities
    True,  # start cumul to zero
    "Capacity",
)

True

In [38]:
# Setting first solution heuristic.
search_parameters = pywrapcp.DefaultRoutingSearchParameters()

search_parameters.first_solution_strategy = (
    routing_enums_pb2.FirstSolutionStrategy.AUTOMATIC
)

# search_parameters.time_limit.seconds = 30

In [39]:
# Solve the problem.
solution = routing.SolveWithParameters(search_parameters)

In [40]:
print(f"Objective Cost: ${solution.ObjectiveValue()}")
max_route_cost = 0
total_route_cost = 0
for vehicle_id in range(data["num_vehicles"]):
    index = routing.Start(vehicle_id)
    plan_output = f"Route for vehicle {vehicle_id}:\n"
    route_cost = 0
    while not routing.IsEnd(index):
        plan_output += f" {manager.IndexToNode(index)} -> "
        previous_index = index
        index = solution.Value(routing.NextVar(index))
        route_cost += routing.GetArcCostForVehicle(previous_index, index, vehicle_id)
    plan_output += f"{manager.IndexToNode(index)}\n"
    plan_output += f"Cost of the route: ${route_cost}\n"
    print(plan_output)
    max_route_cost = max(route_cost, max_route_cost)
    total_route_cost += route_cost
print(f"Maximum of the route costs: ${max_route_cost}")
print(f"Total route cost: ${total_route_cost}")

Objective Cost: $612644
Route for vehicle 0:
 201 -> 0
Cost of the route: $0

Route for vehicle 1:
 202 ->  22 ->  89 ->  122 ->  35 ->  135 ->  10 ->  110 ->  32 ->  189 ->  132 -> 0
Cost of the route: $21192

Route for vehicle 2:
 203 -> 0
Cost of the route: $0

Route for vehicle 3:
 204 -> 0
Cost of the route: $0

Route for vehicle 4:
 205 -> 0
Cost of the route: $0

Route for vehicle 5:
 206 -> 0
Cost of the route: $0

Route for vehicle 6:
 207 ->  40 ->  59 ->  140 ->  68 ->  66 ->  159 ->  168 ->  36 ->  166 ->  136 -> 0
Cost of the route: $18061

Route for vehicle 7:
 208 ->  75 ->  31 ->  175 ->  57 ->  21 ->  157 ->  14 ->  131 ->  80 ->  121 ->  114 ->  42 ->  180 ->  64 ->  142 ->  29 ->  164 ->  129 ->  79 ->  179 ->  25 ->  125 ->  96 ->  196 ->  93 ->  193 ->  54 ->  28 ->  154 ->  63 ->  163 ->  43 ->  46 ->  146 ->  143 ->  78 ->  128 ->  178 ->  47 ->  55 ->  155 ->  147 ->  17 ->  117 ->  73 ->  173 -> 0
Cost of the route: $79669

Route for vehicle 8:
 209 ->  97 ->  197 ->  61 ->  161 -> 0
Cost of the route: $5195

Route for vehicle 9:
 210 -> 0
Cost of the route: $0

Route for vehicle 10:
 211 ->  72 ->  27 ->  172 ->  127 ->  7 ->  107 ->  23 ->  123 -> 0
Cost of the route: $17655

Route for vehicle 11:
 212 -> 0
Cost of the route: $0

Route for vehicle 12:
 213 -> 0
Cost of the route: $0

Route for vehicle 13:
 214 -> 0
Cost of the route: $0

Route for vehicle 14:
 215 ->  74 ->  174 ->  20 ->  120 ->  91 ->  100 ->  200 ->  191 -> 0
Cost of the route: $13412

Route for vehicle 15:
 216 ->  44 ->  94 ->  144 ->  194 ->  81 ->  90 ->  181 ->  82 ->  182 ->  190 ->  2 ->  102 ->  67 ->  167 -> 0
Cost of the route: $23768

Route for vehicle 16:
 217 -> 0
Cost of the route: $0

Route for vehicle 17:
 218 -> 0
Cost of the route: $0

Route for vehicle 18:
 219 ->  15 ->  115 -> 0
Cost of the route: $7074

Route for vehicle 19:
 220 -> 0
Cost of the route: $0

Route for vehicle 20:
 221 -> 0
Cost of the route: $0

Route for vehicle 21:
 222 -> 0
Cost of the route: $0

Route for vehicle 22:
 223 ->  95 ->  18 ->  195 ->  118 ->  70 ->  170 -> 0
Cost of the route: $36906

Route for vehicle 23:
 224 -> 0
Cost of the route: $0

Route for vehicle 24:
 225 ->  38 ->  39 ->  138 ->  16 ->  139 ->  116 -> 0
Cost of the route: $30240

Route for vehicle 25:
 226 ->  83 ->  183 -> 0
Cost of the route: $8151

Route for vehicle 26:
 227 ->  65 ->  165 ->  19 ->  98 ->  119 ->  198 -> 0
Cost of the route: $27261

Route for vehicle 27:
 228 ->  9 ->  77 ->  6 ->  109 ->  69 ->  177 ->  106 ->  169 -> 0
Cost of the route: $20499

Route for vehicle 28:
 229 ->  84 ->  52 ->  184 ->  71 ->  152 ->  26 ->  171 ->  5 ->  105 ->  60 ->  126 ->  160 -> 0
Cost of the route: $62037

Route for vehicle 29:
 230 -> 0
Cost of the route: $0

Route for vehicle 30:
 231 ->  53 ->  4 ->  153 ->  104 -> 0
Cost of the route: $13524

Route for vehicle 31:
 232 -> 0
Cost of the route: $0

Route for vehicle 32:
 233 ->  11 ->  85 ->  185 ->  88 ->  111 ->  62 ->  162 ->  188 ->  58 ->  76 ->  176 ->  1 ->  158 ->  101 -> 0
Cost of the route: $62673

Route for vehicle 33:
 234 -> 0
Cost of the route: $0

Route for vehicle 34:
 235 ->  99 ->  34 ->  199 ->  3 ->  134 ->  45 ->  103 ->  37 ->  145 ->  137 ->  86 ->  50 ->  186 ->  150 -> 0
Cost of the route: $61248

Route for vehicle 35:
 236 -> 0
Cost of the route: $0

Route for vehicle 36:
 237 ->  56 ->  156 ->  24 ->  124 ->  92 ->  192 -> 0
Cost of the route: $20634

Route for vehicle 37:
 238 ->  30 ->  130 -> 0
Cost of the route: $12375

Route for vehicle 38:
 239 ->  87 ->  187 ->  33 ->  12 ->  133 ->  112 ->  49 ->  13 ->  149 ->  51 ->  151 ->  8 ->  108 ->  113 ->  48 ->  41 ->  141 ->  148 -> 0
Cost of the route: $71070

Route for vehicle 39:
 240 -> 0
Cost of the route: $0

Maximum of the route costs: $79669
Total route cost: $612644

In [42]:
(60374, 7788), (67038, 18321), (96719, 96719), (612644, 79669)

((60374, 7788), (67038, 18321), (96719, 96719), (612644, 79669))